<!-- Page for client administration -->
<!DOCTYPE html>
<html>
<head>
  <!-- Header content, charsets, title and CSS styles-->
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
  <link rel="stylesheet" href="/stylesheets/cassie.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Client Info</title>
</head>
<body class="flex flex-auto flex-row justify-start items-center font-sans h-screen">



  <!-- UPPER PART NAVIGATION -->


  <!-- STARTS LEFT PANEL WITH TAB BASED NAVIGATION -->
  <!-- STARTS LEFT PANEL WITH TAB BASED NAVIGATION -->
  <!-- STARTS LEFT PANEL WITH TAB BASED NAVIGATION -->
  <!-- STARTS LEFT PANEL WITH TAB BASED NAVIGATION -->


  
  <div id="chat-screen__left-half" class="flex flex-auto flex-col justify-start items-center font-sans h-screen">
            <!-- START OF TABS CONTAINER -->
            <div id="tabs-panel__container">
              <div id="tabs-panel__outer-wrapper">
                <!-- START OF TABS ROW WRAPPER -->
                <div id="tabs-panel__tabs-wrapper">
                  <!-- START OF A TAB -->
                  <div class="tabs-panel__tab" id="tab_logo">
                    <!-- COMPANY LOGO -->
                    <div id="settings-menu__company-logo__container" >
                      <div id="settings-menu__company-logo__wrapper" >
                      <img id="settings-menu__company-logo__logo" src="/images/eurofins_logo_1.png">
                    </div>
                      </div>
                    <!-- SETTINGS OPEN-CLOSE BUTTON -->
                  </div>
                  <!-- END OF A TAB -->
                  <!-- START OF A TAB -->
                  <div class="tabs-panel__tab hoverable_tab isSelectedTab" id="tab-1" onclick="openTab('tabs-content-1')">
                    <span class="tabs-panel__tab-text"> 
                      <span class="tabs-panel__tab-icon"><i class="fa-solid fa-sliders"></i></span>User settings</span>
                  </div>
                  <!-- END OF A TAB -->
                  <!-- START OF A TAB -->
                  <div class="tabs-panel__tab hoverable_tab" id="tab-2" onclick="openTab('tabs-content-2')">
                    <span class="tabs-panel__tab-text"> 
                      <span class="tabs-panel__tab-icon"><i class="fa-solid fa-floppy-disk"></i></span>Saved chats</span>
                  </div>
                  <!-- END OF A TAB -->
                  <!-- START OF A TAB -->
                  <div class="tabs-panel__tab hoverable_tab" id="tab-3" onclick="openTab('tabs-content-3')">
                    <span class="tabs-panel__tab-text"> 
                      <span class="tabs-panel__tab-icon"><i class="fa-solid fa-book"></i></span>Knowledge</span>
                  </div>
                  <!-- END OF A TAB -->
                  <!-- START OF A TAB -->
                  <div class="tabs-panel__tab hoverable_tab" id="tab-4" onclick="openTab('tabs-content-4')">
                    <span class="tabs-panel__tab-text"> 
                      <span class="tabs-panel__tab-icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>Administration</span>
                  </div>
                  <!-- END OF A TAB -->
                  <!-- START OF A TAB -->
                  <div class="tabs-panel__tab" id="tab--close_button" >
                    <!-- SETTINGS OPEN-CLOSE BUTTON-->
                    <div id="unfold__accordion-icon__container" class="unfold__accordion-icon__container--unfolded" >
                      <span id="unfold_accordion_icon--close" onclick="showMenu()"><i class="fa-solid fa-xmark"></i></span>
                      <span id="unfold_accordion_icon--open"  class="hideMenu" onclick="showMenu()"><i class="fa-sharp fa-solid fa-gear fa-xl"></i></span>
                    </div>
                    <!-- SETTINGS OPEN-CLOSE BUTTON -->
                  </div>
                  <!-- END OF A TAB -->
                </div><!--END OF TABS ROW WRAPPER -->
                <div id="tabs-panel__tabs-content--wrapper">
                  <div id="tabs-content-1" class="tabs-panel__tabs-content">
                    <!-- START OF USER SETTINGS CONTAINER -->


  <!-- Upper panel with client info, crawl options, and logout button -->
  <div id="upper_panel__container" class="">
    <div id="client-panel__container" class="">
      <!-- Client info -->
      <div id="client-panel__data" class="first__container__forms">
        <!--
        <div class="client-panel__data--section data--section--special">

          <h1 class="text-2xl mb-1"  >Client Info</h1> 
          <div class="client-panel__data--subsection__left">
            <p class=""><b>Name: </b> </p>
          </div>
          <div class="client-panel__data--subsection__right">
            <%- data.user.name %> </p>
          </div>
        </div>

        <div class="client-panel__data--section">
        <div class="client-panel__data--subsection__left">
          <p><b>Allowed website:</b></p>
        </div>
          <div class="client-panel__data--subsection__right">
            <p><%- data.user.url %></p>
          </div>
    

        </div>-->

        <!-- Crawl web controls -->
        <div id="chatControl" class="client-panel__data--section">
          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title">Website to crawl</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form id="crawlForm" class="client-panel__form-flex" method="POST"  action="/crawl">
              <input id="url" type="text" placeholder=" Write URL..." name="url">
              <button class="user-panel__form__button" id="crawlButton" type="submit">Crawl!</button>
            </form>
          </div>
        </div>



        <!--Chatbot system msg controls-->
        <div id="chatSystem" class="client-panel__data--section">

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title">System message</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form id="chatSystemForm" class="client-panel__form-flex" method="POST" action="/system">
              <input id="url" type="text" placeholder="Write here..." name="url">
              <button class="user-panel__form__button" id="chatSystemButton" type="submit">Set!</button>
            </form>
          </div>

        <div class="client-panel__data--subsection__full">
          <p class="client-panel__data--subsection__state-message"><b>Actual message is:</b> <%- data.user.systemMsg %></p>
        </div>
      </div>


        <!-- Chatbot temperature adjustment -->
        <div id="chatTemperature" class="client-panel__data--section">
          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title">Contextual temperature</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form id="chatTemperatureForm" class="client-panel__form-flex" method="POST" action="/temp">
              <input id="url" type="text" placeholder="Write here..." name="url">
              <button class="" id="chatTemperatureButton" type="submit">Set!</button>
            </form>
          </div>

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__state-message"><b>Actual contextual temperature is:</b> <%- data.user.temp %></p>
          </div>
        
        </div>

        <!-- Chatbot aiModel adjustment -->
        <div id="chatAiModel" class="client-panel__data--section">
          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title">AI model</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form id="chatAiModelForm" class="client-panel__form-flex" method="POST" action="/aiModel">
              <select id="aiModelSelection" name="selectAiModel">
                <option value="gpt-3.5-turbo">GPT 3.5</option>
                <option value="gpt-4">GPT 4</option>
              </select>
              <button class="" id="chatAiModelButton" type="submit">Set!</button>
            </form>
          </div>

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__state-message"><b>Actual model is:</b> <%- data.user.aiModel %></p>
          </div>
        
        </div>


        <!-- Chatbot vector density adjustment -->
        <div id="chatTemperature" class="client-panel__data--section">
          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title" >Vector density</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form  class="client-panel__form-flex" method="POST" action="/vectorsPerAnswer">
              <input type="text" name="vectorsPerAnswer" placeholder="Write..." >
              <button class="" id="chatVectorsPerAnswerButton" type="submit" >Set!</button>
            </form>
          </div>

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__state-message"><b>Actual vector density:</b> <%- data.user.vectorsPerAnswer %></p>
          </div>
        
        </div>

        <!-- Chatbot greet message -->
        <div id="chatGreetMsg" class="client-panel__data--section">

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title">Greeting message</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form id="chatSystemForm"   class="client-panel__form-flex"  method="POST" action="/greetMsg">
              <input id="url" type="text" placeholder="Write here..." name="url" >
              <button class="" id="chatSystemButton" type="submit">Set!</button>
            </form>
          </div>

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__state-message"><b>Actual greet message is:</b> <%- data.user.greetMsg %></p>
          </div>

        </div>


        <!-- Chatobt URL suggestions text -->
        <div id="chatUrlSuggestionsText" class="client-panel__data--section">

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__title">Text for URL suggestions</p>
          </div>

          <div class="client-panel__data--subsection__full">
            <form id="chatSystemForm"  class="client-panel__form-flex" method="POST" action="/urlSuggestionsText">
              <input id="url" type="text" placeholder="Write here..." name="url" >
              <button class="" id="chatSystemButton" type="submit">Set!</button>
            </form>
          </div>

          <div class="client-panel__data--subsection__full">
            <p class="client-panel__data--subsection__state-message"><b>Actual text for URL suggestions is:</b> <%- data.user.urlSuggestionsText %></p>
          </div>
        </div>
        <!-- Once website has been crawled, here is the generated link -->

        <% if ( data.user.chatbot !== undefined ) { %> 
          <div id="chatUrlSuggestionsText" class="client-panel__data--section">
          
            <div class="client-panel__data--subsection__full">
              <p id="chatbot_link__p" ><i style="color: rgb(65, 65, 236);"class="fa-solid fa-link"></i> Click <a class="chatbot__link" target="_blank" href="/chat/<%= data.user.chatbot.chatId %>"> here </a> for your chatbot link.</a></p>
            </div>
          </div>
        <% } %>
      </div>
    </div>


    <!-- Logout Button -->
    <div id="client-panel__controls" class="client-panel__data--section data--section--last">
      <div id="logout" class="client-panel__data--subsection__full">
        <form method="GET" action="/logout" class="client-panel__form-flex">
          <button id="client-panel__logout-button" type="submit" class="" >Logout</button>
        </form>
      </div>
    </div>
  </div><!-- END OF USER SETTINGS CONTAINER -->
                  </div>
                  <div id="tabs-content-2" class="tabs-panel__tabs-content">
                    <div class="tab-content__wrapper">
                      <!-- DYNAMIC CODE EXAMPLE-->

                      <% if (data.user.chatbot !== undefined) { data.user.chatbot.chatLogs.forEach((element, index) => {
                        
                          // Proper data formatting from *nix date

                          let date = new Date(Math.floor(data.user.chatbot.chatLogs[index].date * 1000));
                          const day = String(date.getDate()).padStart(2, '0');
                          const month = String(date.getMonth() + 1).padStart(2, '0');
                          const year = String(date.getFullYear()).slice(-2);
                          const hours = String(date.getHours()).padStart(2, '0');
                          const minutes = String(date.getMinutes()).padStart(2, '0');
                          const seconds = String(date.getSeconds()).padStart(2, '0');
                          date = `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;
                        
                        %>

                        <div class="saved-chat--example">
                          <div class="saved-chat--example__title">
                            <span>Date: <%- date %></span>
                            <span>Question: <%- data.user.chatbot.chatLogs[index].question %></span>
                            <span>Answer:<%- data.user.chatbot.chatLogs[index].answer %></span>
                          </div>
                          <div class="saved-chat--example__icons">
                            <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                            <span><i class="fa-solid fa-gear fa-xl"></i></span>
                            <span class="thrash_icon"><i class="fa-solid fa-trash fa-xl"></i></span>
                          </div>
                        </div>

                      <% } ); } %> <!-- END OF DYNAMIC CODE EXAMPLE -->

                      <!-- SAVED CHAT EXAMPLE -->
                      <div class="saved-chat--example">
                        <div class="saved-chat--example__title">
                          <span>Ideas for new services</span>
                        </div>
                        <div class="saved-chat--example__icons">
                          <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                          <span><i class="fa-solid fa-gear fa-xl"></i></span>
                          <span class="thrash_icon"><i class="fa-solid fa-trash fa-xl"></i></span>
                        </div>
                      </div><!-- END OF SAVED CHAT EXAMPLE -->
                      <!-- SAVED CHAT EXAMPLE -->
                      <div class="saved-chat--example">
                        <div class="saved-chat--example__title">
                          <span>Pricing questions</span>
                        </div>
                        <div class="saved-chat--example__icons">
                          <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                          <span><i class="fa-solid fa-gear fa-xl"></i></span>
                          <span class="thrash_icon"><i class="fa-solid fa-trash fa-xl"></i></span>
                        </div>
                      </div><!-- END OF SAVED CHAT EXAMPLE -->
                      <!-- SAVED CHAT EXAMPLE -->
                      <div class="saved-chat--example">
                        <div class="saved-chat--example__title">
                          <span>Possible uses of new tool</span>
                        </div>
                        <div class="saved-chat--example__icons">
                          <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                          <span><i class="fa-solid fa-gear fa-xl"></i></span>
                          <span class="thrash_icon" ><i class="fa-solid fa-trash fa-xl"></i></span>
                        </div>
                      </div><!-- END OF SAVED CHAT EXAMPLE -->
                      <!-- SAVED CHAT EXAMPLE -->
                      <div class="saved-chat--example">
                        <div class="saved-chat--example__title">
                          <span>Effects of microplastics on fish</span>
                        </div>
                        <div class="saved-chat--example__icons">
                          <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                          <span><i class="fa-solid fa-gear fa-xl"></i></span>
                          <span class="thrash_icon" ><i class="fa-solid fa-trash fa-xl"></i></span>
                        </div>
                      </div><!-- END OF SAVED CHAT EXAMPLE -->
                      <!-- SAVED CHAT EXAMPLE -->
                      <div class="saved-chat--example">
                        <div class="saved-chat--example__title">
                          <span>How to culture plant cells</span>
                        </div>
                        <div class="saved-chat--example__icons">
                          <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                          <span><i class="fa-solid fa-gear fa-xl"></i></span>
                          <span class="thrash_icon"><i class="fa-solid fa-trash fa-xl"></i></span>
                        </div>
                      </div><!-- END OF SAVED CHAT EXAMPLE -->
                      <!-- SAVED CHAT EXAMPLE -->
                      <div class="saved-chat--example">
                        <div class="saved-chat--example__title">
                          <span>Draft of rules for new equipment</span>
                        </div>
                        <div class="saved-chat--example__icons">
                          <span><i class="fa-solid fa-share-nodes fa-xl"></i></span>
                          <span><i class="fa-solid fa-gear fa-xl"></i></span>
                          <span class="thrash_icon"><i class="fa-solid fa-trash fa-xl"></i></span>
                        </div>
                      </div><!-- END OF SAVED CHAT EXAMPLE -->
                    </div>
                  </div>
                  <!-- START OF TAB 3 // KNOWLEDGE PANELS -->
                  <div id="tabs-content-3" class="tabs-panel__tabs-content">
                    <div class="tab-content__wrapper">
                      <!-- START OF KNOWLEDGE PANEL -->

                        <div id="knowledge__search--wrapper">
                            <input id="knowledge-search__input" type="text" placeholder="Search in knowledge base..." name="search">
                            <div id="knowledge-search__button" type="submit"><i class="fa fa-search"></i></div>
                        </div>
                      
                        <!-- Code for inserting programatically the vectors here -->
                      <% if (data.user.chatbot !== undefined) { data.user.chatbot.vectors.forEach((element,index) => { %> 
                        
                        <div class="accordion knowledge-panel__title">
                          <span>ID: <%- data.user.chatbot.vectors[index].metadata.id %></span>
                          <div class="knowledge--example__icons">
                            <div class="caret__wrapper"><span><i class="fa-solid fa-caret-down"></i></span></div>
                          </div>
                        </div>
                        <div class="panel">
                          <p><b>Title:</b> <%= data.user.chatbot.vectors[index].metadata.title %></p>
                          <p><b>URL:</b> <%= data.user.chatbot.vectors[index].metadata.url %></p>
                          <p><b>Content:</b> <%= data.user.chatbot.vectors[index].metadata.text %></p>
                        </div>

                      <% }); } %><!-- End of code for inserting vectors-->
                      
                      <div class="accordion knowledge-panel__title">
                        <span>Miljøanalyser for PFAS</span>
                        <div class="knowledge--example__icons">
                          <div class="caret__wrapper"><span><i class="fa-solid fa-caret-down"></i></span></div>
                        </div>
                      </div>
                      <div class="panel">
                        <p>PFAS (Per- og poly-Fluor-Alkylerte Stoffer) er en samlebetegnelse på en gruppe syntetiske forbindelser som består av en lang fluorkarbonkjede med en aktiv gruppe i enden. Kjedelengden (antall karbonatomer) og aktiv gruppe avgjør de ulike navnene på forbindelsene. Det finnes opp imot 7000 forskjellige PFAS-forbindelser. Ca 100 av forbindelsene kan lett detekteres. 20-25 av disse inngår i EU sitt drikkevannsdirektiv og EFSA har foreløpig evaluert 4 forbindelser (PFOA, PFNA, PFHxS og PFOS) med hensyn på tolerabelt ukentlig inntak (TWI).</p>
                      </div><!-- END OF KNOWLEDGE PANEL -->
                      <!-- START OF KNOWLEDGE PANEL -->
                      <div class="accordion knowledge-panel__title">
                        <span>Prøvetakingsveileder for jordprøver</span>
                        <div class="knowledge--example__icons">
                          <div class="caret__wrapper"><span><i class="fa-solid fa-caret-down"></i></span></div>
                        </div>
                      </div>
                      <div class="panel">
                        <p>For jordprøver er det viktigste punktet at vi ser etter kjemiske stoffer som kan lett forsvinne ut av prøven og inn i luften. Derfor bruker vi Rilsan-poser, som er gasstette og gir oss sikkerhet for at vi ikke mister noe under transport. Det er viktig at dere bruker Rilsan-poser, og at dere lukker dem ordentlig ved å brette åpningen før dere lukker den med strips. På denne måten reduseres luftinntaket sammen med jordprøven i posen.</p>
                      </div><!-- END OF KNOWLEDGE PANEL -->
                      <!-- START OF KNOWLEDGE PANEL -->
                      <div class="accordion knowledge-panel__title">
                        <span>Asbest analyser</span>
                        <div class="knowledge--example__icons">
                          <div class="caret__wrapper"><span><i class="fa-solid fa-caret-down"></i></span></div>
                        </div>
                      </div>
                      <div class="panel">
                        <p>Asbest er et fibrøst mineral som grunnet sine tekniske egenskaper tidligere har vært mye brukt i en rekke ulike produkter. Asbest kan forekomme i fri form, og bundet til eller blandet med andre materialer. Asbest gjenfinnes blant annet i Eternitplater, fix, fuge, rørkonstruksjoner, betong, asfaltlim og armatur. Asbestfibrene er veldig lette og kan sveve i luften i lang tid. Asbest er forbundet med helsefare.</p>
                      </div><!-- END OF KNOWLEDGE PANEL -->
                      <!-- START OF KNOWLEDGE PANEL -->
                      <div class="accordion knowledge-panel__title">
                        <span>Vår akkrediteringsstatus</span>
                        <div class="knowledge--example__icons">
                          <div class="caret__wrapper"><span><i class="fa-solid fa-caret-down"></i></span></div>
                        </div>
                      </div>
                      <div class="panel">
                        <p>Vi utfører laboratorieanalyser innen mikrobiologi og kjemi og er akkreditert i henhold til NS EN ISO/IEC 17025. En akkreditering krever at laboratoriet kan dokumentere sporbarhet i alle ledd, fra organisasjon til utførelse av en analyse.</p>
                      </div><!-- END OF KNOWLEDGE PANEL -->
                    </div>
                  </div><!-- END OF CONTENT TAB 3 // KNOWLEDGE PANELS -->
                  <!-- START OF CONTENT TAB 4 // ADMIN PANEL -->
                  <div id="tabs-content-4" class="tabs-panel__tabs-content">
                    <div class="tab-content__wrapper">
                      <div id="tab-4__title">
                        <span>Added Users</span>
                      </div>
                      <div id="tab-4__users-number">
                        <span>2 Users</span>
                        <div id="tab-4__see-users">
                          <span>See users</span>
                        </div>
                      </div>

                      <div id="tab-4__users-remaining">
                        <span>8 seats remaining / 10 total seats</span>
                      </div>
                      <div id="tab-4__ad-users">
                        <span>Add New users</span>
                      </div>
                      <div id="tab-4__ad-multiple__button">
                        <input type="radio" id="add_one" name="drone" value="one" />
                      <label for="dewey">Add one</label>
                      </div>
                      <div>
                      <input type="radio" id="add_multipley" name="drone" value="multiple" />
                      <label for="dewey">Add multiple</label>
                      </div>
                      <div id="tab-4__select-role__wrapper">
                        <span id="tab-4__chose-title">
                          Choose user role/capabilities:
                        </span>
                        <select>
                          <option value="See content">See content</option>
                          <option value="Manage content">Manage content</option>
                          <option value="Administrator">Administrator</option>
                        </select>
                      </div>
                    </div>
                  </div><!-- END OF CONTENT TAB 3 // ADMIN PANELS -->
                </div>
              </div>
            </div><!-- END OF TABS CONTAINER -->
  </div>


  <!-- ENDS LEFT PANEL WITH TAB BASED NAVIGATION -->
  <!-- ENDS LEFT PANEL WITH TAB BASED NAVIGATION -->
  <!-- ENDS LEFT PANEL WITH TAB BASED NAVIGATION -->
  <!-- ENDS LEFT PANEL WITH TAB BASED NAVIGATION -->




  <!-- STARTS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <!-- STARTS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <!-- STARTS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <!-- STARTS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <div id="chat-screen__right-half" class="flex flex-auto flex-col justify-start items-center font-sans h-screen">
  
  <!-- Actual chat -->
  <!-- START OF CHAT DIALOGUE / WEBSOCKET CONTAINER -->
  <div id="webSocket" class="w-2/5 flex flex-col justify-start items-start pt-2 mb-5">
    <!-- PLACE FOR A HEADER -->
      <!-- START OF A TAB -->

      <!-- END OF A TAB -->
    <div id="webSocketHeader" class="webSocket__Header">
      <div class="tabs-panel__tab" id="tab-debug">
        <span class="tabs-panel__tab-text"> 
          <span class="tabs-panel__tab-icon"><i class="fa-solid fa-bug-slash"></i></span>Debug</span>
      </div>
        <!-- EXTERNAL MENU BUTTON-->
      <div id="unfold__accordion-icon__container__external"  class="hideMenu unfold__accordion-icon__container--unfolded" >
        <span id="external_unfold_accordion_icon--close" ><i onclick="showMenu()" class="fa-solid fa-xmark"></i></span>
        <span id="external_unfold_accordion_icon--open"  class="hideMenu" onclick="showMenu()"><i class="fa-sharp fa-solid fa-gear fa-xl"></i></span>
      </div>
      <!-- EXTERNAL MENU BUTTON -->
    </div>
    <!-- DIALOGUE -->
    <div id="webSocketOutput" class="w-full min-w-full"></div>
    <input class="w-full w-full py-[10px] flex-grow md:py-4 md:pl-4 relative border border-black/10 bg-white dark:border-gray-900/50 dark:text-white dark:bg-gray-700 rounded-xl shadow-xs dark:shadow-xs" id="webSocketInput" class="text-black" type="text" placeholder="Send..." autofocus>

    <!-- END OF DIALOGUE WRAPPER -->
  </div><!--END OF CHAT DIALOGUE /WEBSOCKET CONTAINER -->

  </div>
  <!-- ENDS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <!-- ENDS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <!-- ENDS RIGHT PANEL WITH CHAT AND CLIENT INFO -->
  <!-- ENDS RIGHT PANEL WITH CHAT AND CLIENT INFO -->


  <!-- STARTS BOTTOM PANNEL / INFO -->
  <div id="bottom-container"></div>

  <!-- Javascript code for the frontend -->
  <script>
    // While rawling right now it just adds a text, in the future we would need a progress bar
    const crawlFrom = document.getElementById('crawlForm');
    crawlFrom.addEventListener('submit', (event) => {
      const textNode = document.createElement('p');
      textNode.innerHTML = 'Please wait until we process your URL...';
      const targetNode = document.getElementById('chatControl');
      targetNode.appendChild(textNode)
    });

    const hostname = <%- JSON.stringify(data.hostname) %>

    // Create sock instance
    //const ws = new WebSocket(`wss://eurofins.digitalai.no`);
    const ws = new WebSocket('ws://localhost:8008');

    // Collect data from backend and put in text format.
    const userData = <%- JSON.stringify(data.user) %>;

    // Handle events once conn is established
    // Not of any use right now, but let it be
    ws.onopen = () => {
      console.log('We got a connection');

    };

    // Handle close event, not of any use right now.
    ws.onclose = () => {
      console.log('Connection closed');
    };

    // Defining scrolldown functionality
    const container = document.getElementById("webSocketOutput");
    function scrollDown() {
      container.scrollTop = container.scrollHeight;
    }

    // Get ouput
    const webSocketOutput = document.getElementById('webSocketOutput');

    // Handling received messages via websocket
    ws.onmessage = (event) => {
      let message = event.data;
      console.log('Msg received:', message);
      console.log(JSON.parse(message));
      message = JSON.parse(message);
      let content = message.data.response.content;
      content = content.split('\n');
      content = content.map((line) => {
        return '<p class="w-full">' + line + '</p>';}).join('');
      webSocketOutput.innerHTML += '\
        <div class="machine_message rendered_message p-2  py-2 w-full min-w-full flex flex-row justify-start items-start pt-2 \
        text-gray-900 dark:text-gray-100 border-b border-black/10  dark:text-white dark:bg-gray-700 \
        ">\
          <div class="chat__user-icon--wrapper p-0.5 mr-1 w-9 rounded mr-1 flex flex-row justify-center items-center">\
            <img src="/images/eurofins_logo_2.png">\
          </div>\
          <div class="chat__user-text--wrapper p-1 w-full">\
            <p class=" leading-relaxed w-full">' + content + '</p>\
            <p class=" leading-relaxed w-full"> Here are some links related that you could find useful: ' +  '<a href="' + message.data.urls[0] + '"  style="color: lightblue" target="_blank">' +  message.data.urls[0] + '</a>, ' + '<a href="' +  message.data.urls[1] + '" style="color: lightblue" target="_blank">' + message.data.urls[1] + '</a>' + '<br>' + '</p>\
          </div>\
        </div>';
        scrollDown();
    };

    // Handling sent messages via websocket
    const webSocketInput = document.getElementById('webSocketInput');
    webSocketInput.addEventListener('keydown', (event) => {
      if (event.key === 'Enter') {
        const text = webSocketInput.value.trim();
        if (text !== '') {
          const msg = {
            origin: userData.handler,
            debug: true,
            data: text,
          }
          ws.send(JSON.stringify(msg));
          webSocketOutput.innerHTML += '\
            <div class="user_message rendered_message p-2 w-full min-w-full flex flex-row justify-start items-start pt-2 \
            w-full py-[10px] flex-grow md:py-4 md:pl-4 relative border border-black/10 dark:border-gray-900/50 bg-gray-900 shadow-xs dark:shadow-xs \
            "> \
              <div class="chat__user-icon--wrapper p-0.5 mr-1 w-9 bg-gray-700 rounded mr-1 flex flex-row justify-center items-center">\
                <img src="/images/user_tem_icon2.png">\
              </div>\
              <div class="chat__user-text--wrapper p-1 w-full">\
                <p class=" w-full">' + msg.data + '</p>\
              </div>\
            </div>';
            /* I'm not happy with the aesthetic result, so I commented it
              <div class="chat__user-icon--wrapper p-0.5 mr-1 w-9 bg-blue-700 rounded mr-1 flex flex-row justify-center items-center">\
                <span class="">You </span>\
              </div>\
            */
          webSocketInput.value = '';
          scrollDown();
        }
      }
    });
  </script>
  <!-- this script controls the tabs in the user menu, replace it wherever it fits whenever the frontend gets refactored -->
  <script>
    function openTab(tabName) {
      console.log(tabName);
      console.log(event.target);
      targetTab = event.target;
      console.log("Event target is");
      console.log(targetTab);

      if(targetTab.tagName == "SPAN" || targetTab.tagName == "I"){
        var newTarget = targetTab.parentElement;
        console.log("new target is");
        console.log(newTarget);
        if(newTarget.tagName == "SPAN" || newTarget.tagName == "I"){
          var newTarget = newTarget.parentElement;
        }

        targetTab = newTarget;
        console.log("last target is");
        console.log(newTarget);
      }

      var i;
      var x = document.getElementsByClassName("tabs-panel__tabs-content");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }

      var y = document.getElementsByClassName("tabs-panel__tab");
      for (i = 0; i < y.length; i++) {
        y[i].classList.remove("isSelectedTab");
      }

      var selectedTab = document.getElementById(tabName);
      selectedTab.style.display = "block";
      targetTab.classList.add("isSelectedTab");

    }
  </script>
  <script>
    var menuVisible = true;
    var unfoldIconContainer = document.getElementById("unfold__accordion-icon__container");
    var externalUnfoldIconContainer = document.getElementById("unfold__accordion-icon__container__external")
    console.log(externalUnfoldIconContainer);

    function showMenu(){
      var optionsMenu = document.getElementById("chat-screen__left-half");

      var cogIcon = document.getElementById("unfold_accordion_icon--open");
      var closeIcon = document.getElementById("unfold_accordion_icon--close");

      var externalCogIcon =document.getElementById("external_unfold_accordion_icon--open");
      var externalCloseIcon = document.getElementById("external_unfold_accordion_icon--close");


      if (menuVisible === true){
        console.log("MenuVisible WAS true. closes menu");
        menuVisible = false;
        optionsMenu.classList.add("hideMenu");
        optionsMenu.classList.remove("showMenu");

        cogIcon.classList.add("hideMenu");
        closeIcon.classList.remove("hideMenu");




        externalUnfoldIconContainer.classList.toggle("hideMenu");
        externalCogIcon.classList.remove("hideMenu");
        externalCloseIcon.classList.add("hideMenu");

      }else{
        console.log("menuVisible WAS false. opens menu");
        menuVisible = true;
        optionsMenu.classList.remove("hideMenu");
        optionsMenu.classList.add("showMenu");

        cogIcon.classList.add("hideMenu");
        closeIcon.classList.remove("hideMenu");



        externalUnfoldIconContainer.classList.toggle("hideMenu");
        externalCogIcon.classList.remove("hideMenu");
        externalCloseIcon.classList.add("hideMenu");
      }
    }
  </script>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
</body>
</html>
